[submodule "data/repos/dgs-framework"]
	path = data/repos/dgs-framework
	url = https://github.com/Netflix/dgs-framework.git
[submodule "data/repos/metaflow"]
	path = data/repos/metaflow
	url = https://github.com/Netflix/metaflow.git
[submodule "data/repos/void-model"]
	path = data/repos/void-model
	url = https://github.com/Netflix/void-model.git
[submodule "data/repos/ostris-ai-toolkit-fork"]
	path = data/repos/ostris-ai-toolkit-fork
	url = https://github.com/Netflix/ostris-ai-toolkit-fork.git
[submodule "data/repos/x-test-cli"]
	path = data/repos/x-test-cli
	url = https://github.com/Netflix/x-test-cli.git
[submodule "data/repos/ttal-dapt-conv"]
	path = data/repos/ttal-dapt-conv
	url = https://github.com/Netflix/ttal-dapt-conv.git
[submodule "data/repos/global-lock-bench"]
	path = data/repos/global-lock-bench
	url = https://github.com/Netflix/global-lock-bench.git
